<div class="container-fluid product-page-container">
  <div class="row">
  <div class="filter-container col-3">

<button id="buttonBrands" class="filter">BRANDS</button>
<ul id="brands"></ul>
<button id="buttoncatgories" class="filter">catgories</button>
<ul id="catgories"></ul>
<button onclick="myFunction()">Apply</button>

<script>

  function myFunction() {
  
    var x = documente.querySelector("#brands").checked;
  }
  var counter = 0;

  axios
    .get("http://localhost:3000/products/brands")
    .then(brandsPayload => {
      let brands = brandsPayload.data;
      const brandsDOMEl = document.querySelector("#brands");
      brands.forEach(function (brand) {
        const newbrandFilterItem = document.createElement("li");
        newbrandFilterItem.innerHTML = `<input type='checkbox'  name="${brand}" class="filterBrand" > ${brand}`;
        brandsDOMEl.appendChild(newbrandFilterItem);
      });
      document.querySelector("#buttonBrands").onclick = function () {
        counter++;
        if (counter % 2 === 0) {
          brandsDOMEl.style.display = "block";
        } else {
          brandsDOMEl.style.display = "none";
        }
      };
    });
 
 const brandArr = []
 function getCheck(e){
  
   if(e.target.checked){
    
     brandFilterAplied = e.target.name; 
     brandArr.push(brandFilterAplied)
     
     axios.post("http://localhost:3000/products/brandsFiltered", {brandArr})
        .then((products)=>{
        
          document.querySelector('.products-container').innerHTML=''
          products.data.forEach(prod=>{
            document.querySelector('.products-container').innerHTML+=`
              <div class='item-container'>
                <img src='${prod.image_link}'>
                <h5><a href="/products/${prod._id}}">${prod.name}</a></h5>
              </div>`;
          })
        })
        .catch(()=>console.log())
   } else {
     brandFilterAplied = e.target.name; 
     brandArr.splice(brandArr.indexOf(brandFilterAplied), 1)
   }  
 }

 function myFunction() {
    
    var x = documente.querySelector("#categories").checked;
  }
  var counter = 0;

  axios
    .get("http://localhost:3000/products/categories")
    .then(categoriesPayload => {
      let categories = categoriesPayload.data;
      const categoriesDOMEl = document.querySelector("#catgories");
       
      categories.forEach(function (category) {
        const newcategoryFilterItem = document.createElement("li");
        newcategoryFilterItem.innerHTML = `<input type='checkbox'  name="${category}" class="filterCategory" > ${category}`;
     
        categoriesDOMEl.appendChild(newcategoryFilterItem);
        
      });
      document.querySelector("#buttoncategories").onclick = function () {
        counter++;
        if (counter % 2 === 0) {
          categoriesDOMEl.style.display = "block";
        } else {
          categoriesDOMEl.style.display = "none";
        }
      };
    });
  window.onload = function () {
    var a = document.getElementsByClassName("filterCategory")
    Array.from(a).forEach(actualInput=>{
      actualInput.onchange = get2Check;
    })  
     var b = document.getElementsByClassName("filterBrand")
    Array.from(b).forEach(actualInput=>{
      console.log('o')
      actualInput.onchange=getCheck;
    })  
  }

 const categoryArr = []
 function get2Check(e){
  
   if(e.target.checked){
     categoryFilterAplied = e.target.name; 
     categoryArr.push(categoryFilterAplied)
     axios.post("http://localhost:3000/products/categoriesFiltered", {categoryArr})
        .then((products)=>{
          
          document.querySelector('.products-container').innerHTML=''
          products.data.forEach(prod=>{
            document.querySelector('.products-container').innerHTML+=`
              <div class='item-container'>
                <img src='${prod.image_link}'>
                <h5><a href="/products/${prod._id}}">${prod.name}</a></h5>
              </div>`;
          })
        })
        .catch(()=>console.log())
   } else {
     categoryFilterAplied = e.target.name; 
     categoryArr.splice(categoryArr.indexOf(categoryFilterAplied), 1)
   }  
 }
</script>


<div class="products-container">
  {{#each products}}
  <div class="item-container">
    <img src="{{this.image_link}}">
    <h5><a href="/products/{{this._id}}">{{this.name}}</a></h5>
    {{#unless ../user.iscategory}}
    <div class=".favorite-img-container">
      {{#if this.isFavorite}}
      <a href="/products/favorite/remove/{{this.id}}"><img src="/images/estrella.png" class="favorite-img"></a>
      {{else}}
      <a href="/products/favorite/add/{{this.id}}"><img src="/images/star-01.png" class="favorite-img"></a>
      {{/if}}
    </div>
    {{/unless}}
  </div>
  {{/each}}
</div>
