<h1>Products</h1>

{{#each products}}
<a href="/products/{{this.id}}">{{this.name}}</a> 
{{#unless ../user.isBrand}}
 {{#if this.isFavorite}}
  <a href="/products/favorite/remove/{{this.id}}"><img src="/images/estrella.png"></a>
  {{else}}
  <a href="/products/favorite/add/{{this.id}}">add favorite</a>
  {{/if}}
{{/unless}}
<br>   
{{/each}}



 